<% layout('layouts/boilerplate') %>



<div class="project_basics">
    <h5><%= project.title %></h5>
    <h6><%= project.description %></h6>
    <img src="<%= project.image  %>" alt="" class="project_primary_image">
    <p>By <%= project.author %></p>
    <p>Uploaded on <%= project.date  %></p>
    <div class="project_category">
        <% project.category[0] %>
    </div>
</div>

<div class="all_comments">

    <div class="add_comment">
        <form action="/ProjectSpace/<%= project.id  %>/comments" method="post" novalidate class="needs_validation">
            <label for="commentText" class="form-label">Comment on this project</label>
            <textarea name="commentText" id="commentText" cols="30" rows="10" class="form-control" style="height: 8vw;" placeholder="Write your comment here..." required></textarea>
            <button class="btn btn-primary">Add comment</button>
        </form>
    
    </div>

    <% for(let comment of project.comments){ %>
        <div class="single_comment">
            <p><%= comment.commentText  %></p>
            <form action="/ProjectSpace/<%= project.id  %>/<%= comment.id  %>?_method=DELETE" method="post">
                <button class="btn btn-secondary">Remove</button>
            </form>
        </div>
    <% } %>
</div>




<a href="/ProjectSpace/<%= project.id %>/edit"><button class="btn btn-info">Edit</button></a>

<form action="/ProjectSpace/<%= project.id %>?_method=DELETE" method="post">
    <button class="btn btn-danger">Delete</button>
</form>

