<% layout('layouts/boilerplate') %>



<div class="project_basics">
    <h5><%= project.title %></h5>
    <h6><%= project.description %></h6>
    <img src="<%= project.image  %>" alt="" class="project_primary_image">
    <p>By <%= project.author %></p>
    <p>Uploaded on <%= project.date  %></p>
    <div class="project_category">
        <% project.category[0] %>
    </div>
</div>


<a href="/ProjectSpace/<%= project.id %>/edit"><button class="btn btn-info">Edit</button></a>

<form action="/ProjectSpace/<%= project.id %>?_method=DELETE" method="post">
    <button class="btn btn-danger">Delete</button>
</form>

